.caja-filtros {
    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filtro {
    color: #ffffff;
    background-color:#cc0d0d ;
    border-radius: 5px;
    border-color: #ffffff;
    border-width: 2px;
}