.form-contenedor{
    padding-top: 40px ;
    margin: auto;
    width: 60%;

    .form{
        margin-bottom: 30px !important;
    }

    .btn-checkout{
        margin-left: 300px;
        margin-bottom: 40px;
        margin-top: 30px;
        color: #ffffff;
        background-color: #cc0d0d;
        border-radius: 5px;
        border-color: #ffffff;
        border-width: 1px;

    }
}