.total{
    margin: 80px;
    color: #ffffff;
    font-size: 30px;

}

.btn-cart{
    margin-left: 80px;
    margin-bottom: 40px;
    color: #ffffff;
    background-color: #cc0d0d;
    border-radius: 5px;
    border-color: #ffffff;
    border-width: 1px;

}