.padding-top{
    padding-top: 160px;
}

.rojo-gremio{
    color: #cc0d0d;
}

h1{
    text-align: center;
    font-size: 45px !important;
    padding: 15px
}

h2{
    margin: 30px;
    font-size: 25px !important;
    color: #ffffff;
    text-align: center;
}

.items-sin.stock{
    margin: auto;
    padding: 10px;
    font-size: 30px;
    color: #cc0d0d;
    text-align: center;
}

.btn-volver-carrito{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50%;
    color: #ffffff;
    background-color: #cc0d0d;
    border-radius: 5px;
    border-color: #ffffff;
    border-width: 1px;

}